* {
    margin:0;
    padding:0;
    border:none;
}
body {
    font-family: lato, sans-serif;
    font-size: 300;
    color: #3a3a3a;
}
h1, h2{
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}
#logo{
    float:left;
    font-size: 200%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}
#menu, #logo{
    line-height: 75px;
}
#menu li {
    float:right;
    list-style: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}
#hero-outer {
    height:600px;
    width:100%;
    overflow: hidden;
    position:relative;
}
#cover-text, #cover-text h2{
    color: rgb(195, 36, 36);
}
#hero-image {
    height:600px;
    width:100%;
    background: url('../image/chemini.jpg') no-repeat center center;
    
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
/* animates zoom effect on loading page*/
    animation-name:hero-zoom;
    animation-duration:5s;
    animation-fill-mode:forward;
}


@keyframes hero-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
#cover-text{
    font-size: 130%;
    font-family: oswal, sans-serif;
    text-transform: uppercase;
    letter-spacing:4px;

    width:300px;
    height:200px;
    
    padding-top:40px;
    padding-left:10px;

    background-color: rgba(241,109.107, .7);

    bottom:30px;
    right:150px;

    position: absolute;

    
}

#club-ethos{
    height: 600px;
}
#left{
    padding-top: 30px;
    width:33%;
    float: left;
    
}
#right{
    padding-top: 30px;
    width:33%;
    float: right;
  
}
#center{
    padding-top: 30px;
    width:33%;
    
    margin: 0% auto;
}

hr {
    border-top:1px solid #3a3a3a;
    width:100%;
    margin:5px 0;
}
.left-heading{
    width:60%;
    float:right;
    line-height: 20px;
    clear: both;
    margin-bottom:50px;
}

.right-heading{
    width:60%;
    float:left;
    line-height: 20px;
    clear: both;
    margin-bottom:50px;
}
.right-heading h2{
    text-align: right;

}
.right-heading p{
    text-align: right;
}

#welcome{
    font-size: 36px;
    text-align: center;
    padding-top: 20px;
}
#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../image/logo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}